.container a {
  text-decoration: none;
  background: #E0995E;
  color: #fff;
  padding: 5px 10px 5px 10px;
  border-radius: 50px;
  font-weight: bold;
}
.container a:hover {
  color: #fff;
}
.title {
  color: #77B3D4;
}
